<table>
	<tr><td>
		<form method="get" action="quizzes/search" >
			Texto a buscar:
			<input type="text" name="search" value="" />
			<input type="submit" value="Buscar"/>
		</form><br>
	</td></tr>
	<% var i; for(i=0; i < quizes.length; i++){ %>
		<tr>
			<td><a href="quizzes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
			<td><a href="quizzes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
			<td>
        		<form method="post" action="quizzes/<%= quizes[i].id %>?_method=delete">
          			<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">Borrar</button>
        		</form>
      		</td>
		</tr>
	<% } %>
</table> 
<a href="/quizzes/new"><button type="button">Nueva pregunta</button></a>
